-e git+https://github.com/uw-it-aca/spacescout_web.git@master#egg=SpaceScoutWeb
-e git+https://github.com/uw-it-aca/spotseeker_server.git@qa#egg=SpaceScoutServer
-e git+https://github.com/uw-it-aca/spacescout_labstats.git@qa#egg=SpaceScoutLabstats
